.edit-player
{
    padding-top: 30px;

    &__main-logo
    {
        &-wrapper
        {
            overflow: hidden;

            width: 250px;
            height: 250px;
            margin: auto;

            text-align: center;

            border: 2px solid rgba(0, 0, 0, 0.12);
            border-radius: 100%;
            background: #bdbdbd;

            line-height: 250px;
        }

        &-img
        {
            width: auto;
            height: 100%;
        }

        &-controls
        {
            margin-top: 1em;
        }
    }
}
