.account-role
{
    &__item
    {
        &--repr
        {
            min-height: 500px;
        }
    }

    &__input
    {
        width: 200px;
    }

    &__club-admin-text
    {
        &--removed
        {
            color: #ff80ab;
            text-decoration: line-through;
        }
    }

    &__dialog
    {
        &-content.md-dialog-content
        {
            overflow: visible;
        }
    }
}
